{% extends "layout.html" %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='newWorkout.css') }}"/>
</head>

{% block content %}

    <div>
        <h1>New Workout</h1>
    </div>
    <hr>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="marginTop">
            <b>{{ form.category.label(class="form-control-label") }}</b>
            <div>
                {{ form.category(class="form-control form-control-lg") }}
            </div>
        </div>

        <div class="marginTop exerciseList">
            <b>{{ form.abs.label(class="form-control-label") }}</b>
            <div>
                {{ form.abs(class="form-control form-control-lg") }}
            </div>
        </div>

        <div class="marginTop exerciseList">
            <b>{{ form.arms.label(class="form-control-label") }}</b>
            <div>
                {{ form.arms(class="form-control form-control-lg") }}
            </div>
        </div>

        <div class="marginTop exerciseList">
            <b>{{ form.cardio.label(class="form-control-label") }}</b>
            <div>
                {{ form.cardio(class="form-control form-control-lg") }}
            </div>
        </div>

        <div class="marginTop exerciseList">
            <b>{{ form.chest.label(class="form-control-label") }}</b>
            <div>
                {{ form.chest(class="form-control form-control-lg") }}
            </div>
        </div>

        <div class="marginTop exerciseList">
            <b>{{ form.legs.label(class="form-control-label") }}</b>
            <div>
                {{ form.legs(class="form-control form-control-lg") }}
            </div>
        </div>

        <div class="marginTop exerciseList">
            <b>{{ form.shoulders.label(class="form-control-label") }}</b>
            <div>
                {{ form.shoulders(class="form-control form-control-lg") }}
            </div>
        </div>

        <div class="marginTop">
            <b>{{ form.sets.label(class="form-control-label") }}</b>
            <div>
                {{ form.sets(class="form-control form-control-lg") }}
            </div>
        </div>

        <div class="marginTop">
            <b>{{ form.reps.label(class="form-control-label") }}</b>
            <div>
                {{ form.reps(class="form-control form-control-lg") }}
            </div>
        </div>

        <div class="marginTop">
            <b>{{ form.weight.label(class="form-control-label") }}</b>
            <div>
                {{ form.weight(class="form-control form-control-lg") }}
            </div>
        </div>

        <div class="marginTop">
            <b>{{ form.location.label(class="form-control-label") }}</b>
            <div>
                {{ form.location(class="form-control form-control-lg") }}
            </div>
        </div>

        <div class="marginTop exerciseList">
            <b>{{ form.notes.label(class="form-control-label") }}</b>
            <div>
                {{ form.notes(class="form-control form-control-lg") }}
            </div>
        </div>

        <div class="form-group marginTop">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
{% endblock %}