{% extends "layout.html" %}

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='newWorkout.css') }}"/>
</head>

{% block content %}
    <div>
        <h1>New Workout</h1>
    </div>
    <hr>

    <form method="POST" action="">
        {{ form.hidden_tag() }}

        <div class="marginTop" id="category-select-div">
            <b>{{ form.category.label(class="form-control-label") }}</b>
            <div>
                {{ form.category(class="form-control form-control-lg", id="category-select") }}
            </div>
        </div>

        <div class="form-group marginTop">
            <b>{{ form.location.label(class="form-control-label") }}</b>
            <div>
                {{ form.location(class="form-control form-control-lg") }}
            </div>
        </div>

        <div class="form-group marginTop exerciseList" id="abs-exercise-div">
            <b>{{ form.abs.label(class="form-control-label") }}</b>
            <div>
                {{ form.abs(class="form-control form-control-lg", id="abs-exercise") }}
            </div>
        </div>

        <div class="form-group marginTop exerciseList" id="arms-exercise-div" style="display: none;">
            <b>{{ form.arms.label(class="form-control-label") }}</b>
            <div>
                {{ form.arms(class="form-control form-control-lg", id="arms-exercise") }}
            </div>
        </div>

        <div class="form-group marginTop exerciseList" id="cardio-exercise-div" style="display: none;">
            <b>{{ form.cardio.label(class="form-control-label") }}</b>
            <div>
                {{ form.cardio(class="form-control form-control-lg", id="cardio-exercise") }}
            </div>
        </div>

        <div class="form-group marginTop exerciseList" id="chest-exercise-div" style="display: none;">
            <b>{{ form.chest.label(class="form-control-label") }}</b>
            <div>
                {{ form.chest(class="form-control form-control-lg", id="chest-exercise") }}
            </div>
        </div>

        <div class="form-group marginTop exerciseList" id="legs-exercise-div" style="display: none;">
            <b>{{ form.legs.label(class="form-control-label") }}</b>
            <div>
                {{ form.legs(class="form-control form-control-lg", id="legs-exercise") }}
            </div>
        </div>

        <div class="form-group marginTop exerciseList" id="shoulders-exercise-div" style="display: none;">
            <b>{{ form.shoulders.label(class="form-control-label") }}</b>
            <div>
                {{ form.shoulders(class="form-control form-control-lg", id="shoulders-exercise") }}
            </div>
        </div>

        <div class="form-group marginTop">
            <b>{{ form.sets.label(class="form-control-label") }}</b>
            <div>
                {{ form.sets(class="form-control form-control-lg") }}
            </div>
        </div>

        <div class="form-group marginTop">
            <b>{{ form.reps.label(class="form-control-label") }}</b>
            <div>
                {{ form.reps(class="form-control form-control-lg") }}
            </div>
        </div>

        <div class="form-group marginTop">
            <b>{{ form.weight.label(class="form-control-label") }}</b>
            <div>
                {{ form.weight(class="form-control form-control-lg") }}
            </div>
        </div>

        <div class="form-group marginTop">
            <b>{{ form.notes.label(class="form-control-label") }}</b>
            <div>
                {{ form.notes(class="form-control form-control-lg") }}
            </div>
        </div>

        <div class="form-group marginTop">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>

    <script type="text/javascript">
        $('#category-select').on('change', function() {
          var cats = ["abs", "arms", "back", "cardio", "chest", "legs", "shoulders"];

          var cat = $('#category-select').val();

          for( var i = 0; i <= cats.length; i++){
            var divName = '#' + cats[i] + '-exercise-div';
            $(divName).css("display", "none");
          }

          if (cat == 'Abs'){
            $('#abs-exercise-div').css("display", "block");
          }else if (cat == 'Arms'){
            $('#arms-exercise-div').css("display", "block");
          }else if(cat == 'Back'){
            $('#back-exercise-div').css("display", "block");
          }else if(cat == 'Cardio'){
            $('#cardio-exercise-div').css("display", "block");
          }else if(cat == 'Chest'){
            $('#chest-exercise-div').css("display", "block");
          }else if(cat == 'Legs'){
            $('#legs-exercise-div').css("display", "block");
          }else if (cat == 'Shoulders'){
            $('#shoulders-exercise-div').css("display", "block");
          }
        });
    </script>
{% endblock %}